.chess-piece {
  background: none;
  background-size: 100%;

  width: 75px;
  height: 75px;
}

.chess-piece:hover {
  cursor: grab;
}

.chess-piece:active {
  cursor: grabbing;
}

.light-tile {
  background: #f2edeb;
}

.dark-tile {
  background: #925e78;
}
