.light-tile {
  background: #f2edeb;
}

.dark-tile {
  background: #925e78;
}

.chess-piece {
  background: none;
  background-size: 100%;

  width: 75px;
  height: 75px;
}

.chess-piece:hover {
  cursor: grab;
}

.chess-piece:active {
  cursor: grabbing;
}

.potential-move-indicator {
  position: relative;
  top: 25px;
  left: 25px;

  background-color: white;
  border: 5px solid black;
  border-radius: 50%;

  width: 25px;
  height: 25px;
}
