.light-tile {
  background: #f2edeb;
}

.dark-tile {
  background: #925e78;
}

.chess-piece {
  background: none;
  background-size: 100%;

  z-index: 1;

  width: 75px;
  height: 75px;
}

.chess-piece:hover {
  cursor: grab;
}

.chess-piece:active {
  cursor: grabbing;
}

.potential-move-indicator {
  position: relative;
  top: 25px;
  left: 25px;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  width: 25px;
  height: 25px;
}

.potential-attack-indicator {
  position: absolute;
  top: 0;
  left: 0;

  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  width: 75px;
  height: 75px;
}
